.filter {
	margin-top: 0px;
}

.table { border-collapse: collapse; }

tr { border: none; }
td {white-space: nowrap;}


.left-line {
  border-left: solid 1px #ccc;
}

.watch-btn {
	opacity: 0;
	color: #aaa;
}

tr:hover .watch-btn {
	opacity: 1;	
}

tr.watching-address {
	background-color: orange !important;
	color: white !important;

	a {
		color: white !important;		
	}

	.watch-btn {
		color: white;
	}

	.value_diff {
		&.plus {color: white;}
		&.minus {color: white;}
	}
}

.value_diff {
	&.plus {color: #17d517;}
	&.minus {color: red;}
}

.vis-line {
	z-index: 0;
    position: absolute;
    height: 100%;
    background-color: #4497CC;
    opacity: 0.13;
    margin-top: -8px;
    margin-left: -12px;
}

.info-zindex {
	position: relative;
	z-index: 99;
}


td.rnode-mined-graph {
	width: 80px;
}

table.rnodes, td {position: relative;}