<router-outlet></router-outlet>

Timespan: FROM {{timespan.from | date}} - TO {{timespan.to | date}}<br><br>

ROI Avg.: 0%<br>
ROI (250k): 0%<br>
ROI (550k): 0%<br>
ROI (1500k): 0%<br>

<hr>

Dashboard: {{dashboard_data | json}}<br><br>


Blocks Last Minute: {{dashboard_data.last_blocks.minute.blocks_mined}} ({{dashboard_data.last_blocks.minute.blocks_impeached}} impeached)<br>
Blocks Last Hour: {{dashboard_data.last_blocks.hour.blocks_mined}} ({{dashboard_data.last_blocks.hour.blocks_impeached}} impeached)<br>
Blocks Last Day: {{dashboard_data.last_blocks.day.blocks_mined}} ({{dashboard_data.last_blocks.day.blocks_impeached}} impeached)<br>
Blocks Last Month: {{dashboard_data.last_blocks.month.blocks_mined}} ({{dashboard_data.last_blocks.month.blocks_impeached}} impeached)<br>
Blocks Last Year: {{dashboard_data.last_blocks.year.blocks_mined}} ({{dashboard_data.last_blocks.year.blocks_impeached}} impeached)<br>


<hr>

RNode: {{rnode_addr}}<br>

<ul>
  <li *ngFor="let impeached of rnode_data.impeached; let i = index">
    {{impeached.generation.BlockNumber}} ({{impeached.ts * 1000 | date:'medium'}})
  </li>
</ul>
