<h3 class="title is-size-3">Top {{limit}} Producer</h3>

<div class="filter">
	<div class="field has-addons">
	  <p class="control">
	    <a class="button" [class.is-loading]="loading === 0" [class.is-success]="timerange == 0" (click)="setTimerange(0)">
	      <span>last 24h</span>
	    </a>
	  </p>
	  <p class="control">
	    <a class="button" [class.is-loading]="loading == 5" [class.is-success]="timerange == 5" (click)="setTimerange(5)">
	      <span>last 3 days</span>
	    </a>
	  </p>
	  <p class="control">
	    <a class="button" [class.is-loading]="loading == 1" [class.is-success]="timerange == 1" (click)="setTimerange(1)">
	      <span>last week</span>
	    </a>
	  </p>
 	  <p class="control">
	    <a class="button" [class.is-loading]="loading == 2" [class.is-success]="timerange == 2" (click)="setTimerange(2)">
	      <span>last month</span>
	    </a>
	  </p>
<!--	  <p class="control">
	    <a class="button" [class.is-loading]="loading == 3" [class.is-success]="timerange == 3" (click)="setTimerange(3)">
	      <span>last quarter</span>
	    </a>
	  </p>
	  <p class="control">
	    <a class="button" [class.is-loading]="loading == 4" [class.is-success]="timerange == 4" (click)="setTimerange(4)">
	      <span>last year</span>
	    </a>
	  </p> -->
	</div>
</div>

<div id="stream-container"></div>

<div class="stream-container-hovertooltip hover-tooltip {{hovered_stream ? 'visible' : 'hide'}}">RNode: {{hovered_stream}}</div>