
@import "bulma/sass/utilities/mixins";


.section.top {
	.head {
		margin: 10px 0 0 0;

		.subtext {
			font-size: 1.45em;
		}
	}
	.titles {
		margin: 10px 0 0 15px;
	}
	.title {
		font-size: 2.5em;
	}
	.subtitle {
		font-size: 1.7em;
	}

	.search {
		margin-top: 30px;
		width: 100%;

		.search-input {
			width: 100%;

			input {
				width: 100%;
			}
		}
	}
}

.cpc-logo {
	width: 110px;
}



.section.block-n-stats {
	.column.blocks {
		padding: 0 55px;
	}

	.column.stats {
		.info {
			display: block;
			margin: 25px 0 0 0;
		}

		.graph {
			display: block;
			height: 100px;
			width: 100%;
			padding: 0 10px;
		}
	}
}


.tile.watch {
	.subtitle {margin-top: -2.0rem;}
}

.tile.boxed {
	padding: 15px 25px;
	background-color: rgba(255,255,255,.8);
	border-radius: 3px;
	box-shadow: 0 0 6px 1px #1f7bbd20;

	.title, .subtitle, .text {
		//color: white !important;
	}

	@include mobile {
		.title { font-size: 1em !important; }
		.subtitle { font-size: 1em !important; }
	}
	@include tablet {
		.title { font-size: 1.25em !important; }
		.subtitle { font-size: 0.75em !important; }
	}
	@include desktop {
		.title { font-size: 1.5em !important; }
		.subtitle { font-size: 0.9em !important; }
	}
	@include widescreen {
		.title { font-size: 1.7em !important; }
		.subtitle { font-size: 1.15em !important; }
	}
	@include fullhd {
		.title { font-size: 2em !important; }
		.subtitle { font-size: 1.3em !important; }
	}
}



.keys-values-container {
	width: 100%;
	display: flex;
	//border: 1px solid red;

	.keys-container {
		width: 45%;
		padding: 0 15px 0 0;
		text-align: right;
		border-right: 1px solid #1f7bbd20;

		@include mobile {
			font-size: 0.45em !important;	
		}
		@include tablet {
			font-size: 0.65em !important;	
		}
		@include desktop {
			font-size: 0.71em !important;
			line-height: 17px !important;
		}
		@include widescreen {
			font-size: 0.85em !important;	
		}
		@include fullhd {
			font-size: 1em !important;	
		}

		.item {
			height: 27px;
			margin: 7px 0;
			//border: 1px solid blue;

			@include desktop { height: 33px; }
		}
	}
	.values-container {
		width: 55%;
		padding: 0 0 0 15px;
		white-space: nowrap;

		@include mobile {
			font-size: 0.45em !important;	
		}
		@include tablet {
			font-size: 0.7em !important;	
		}
		@include desktop {
			font-size: 0.75em !important;
			line-height: 17px !important;
		}
		@include widescreen {
			font-size: 0.9em !important;	
		}
		@include fullhd {
			font-size: 1em !important;	
		}

		.item {
			overflow: visible;
			height: 27px;
			margin: 7px 0;
			//border: 1px solid green;

			@include desktop { height: 33px; }
		}
	}
}

.onhover {
	.onhover-show {
		display: none;
		animation-name: hide;
		animation-duration: 0.75s;
	}
	.onhover-hide {
		display: initial;

	}

	&:hover {
		.onhover-show {display: initial;}
		.onhover-hide {display: none;}
	}

	@keyframes hide {
		from {opacity: 0;}
		to {opacity: 1;}
	}
}

.my-rnode-loading-placeholder {
	margin-top: 150px;
	.typcn {
		font-size: 120px;
		animation: blink normal 1.15s infinite ease-in-out;
	}
}

@keyframes blink {0%{opacity:1;} 50%{opacity:0.45;} 100%{opacity:1;}}
