
<br>

<section class="section top">
<div class="container">
  <div class="columns is-size-2-mobile is-size-2-desktop" *ngIf="kpi.isLoaded('dashboard')">
    <div class="column has-text-centered has-text-weight-light">{{kpi.datasets.dashboard.data.last_rnodes.rnodes.length}} RNodes</div>
    <div class="column has-text-centered has-text-weight-light">{{kpi.data('dashboard','last_rewards','total_roi','dashboard.top-teaser')}}% ROI / Y</div>
    <div class="column has-text-centered has-text-weight-light">{{kpi.data('dashboard','last_transactions','count','dashboard.top-teaser')}} Trx's / {{kpi.selectedOption('dashboard','last_transactions','count','dashboard.top-teaser').abbrev}}</div>
<!--     <div class="column has-text-centered">Growth TODO</div> -->
  </div>
</div>
</section>


<section class="section main">
<div class="container">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary" *ngIf="kpi.isLoaded('dashboard')">
          <p class="title is-size-3">Health</p>
          <p class="subtitle">Networks overall health KPIs</p>
          <div class="keys-values-container is-size-5">
            <div class="keys-container">
              <div class="item">Last Block</div>
              <div class="item">Active RNodes</div>
              <div class="item">Transactions</div>
              <div class="item">Trx. Volume</div>
              <div class="item">Fee (avg.)</div>
              <div class="item">Impeached</div>
            </div>
            <div class="values-container is-size-5">
              <div class="item"><a [routerLink]="['/block', kpi.datasets.dashboard.data.last_block.number]" class="number-mono">{{kpi.datasets.dashboard.data.last_block.number}}</a> ({{ago(kpi.datasets.dashboard.data.last_block.timestamp)}})</div>
              <div class="item"><span class="number-mono">{{kpi.datasets.dashboard.data.last_rnodes.rnodes.length}}</span></div>
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_transactions','count','dashboard.health')}}</span> / {{kpi.selectedOption('dashboard','last_transactions','count','dashboard.health').full}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_transactions')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_transactions', 'count', 'dashboard.health') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_transactions', 'count', 'dashboard.health', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_transactions','volume','dashboard.health') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_transactions','volume','dashboard.health').abbrev}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_transactions')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_transactions', 'volume', 'dashboard.health') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_transactions', 'volume', 'dashboard.health', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item">
                <span class=""><span class="number-mono">{{kpi.data('dashboard','last_transactions','fee_avg','dashboard.health') | number : '1.4-4'}}</span> / Trx</span>
              </div>
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_blocks','impeached','dashboard.health')}}</span> / {{kpi.selectedOption('dashboard','last_blocks','impeached','dashboard.health').full}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_blocks')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_blocks', 'impeached', 'dashboard.health') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_blocks', 'impeached', 'dashboard.health', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary" *ngIf="kpi.isLoaded('dashboard')">
          <p class="title is-size-3">Rewards</p>
          <p class="subtitle">Whats the rewards running an RNode</p>
          <div class="keys-values-container is-size-5 ">
            <div class="keys-container">
              <div class="item">ROI RNode (avg.)</div>
              <!-- <div class="item">ROI ENode (avg.)</div> -->
              <div class="item">Reward (fixed)</div>
              <div class="item">Total Rewards</div>
              <div class="item">Rewards (fixed)</div>
              <div class="item">Rewards (fee)</div>
              <div class="item">Fee / Fixed Ratio</div>
              <div class="item">Lockup Season</div>
              <!-- <div class="item">Rewards / Year</div> -->
            </div>
            <div class="values-container is-size-5">
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards','total_roi','dashboard.rewards')}}%</span> / {{kpi.selectedOption('dashboard','last_rewards','total_roi','dashboard.rewards').full}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_roi', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_rewards', 'total_roi', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <!-- <div class="item">TODO</div> -->
              <div class="item"><span class="number-mono">{{kpi.datasets.dashboard.data.reward_per_block}} CPC</span> / Block</div>
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards').abbrev}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards').abbrev}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards').abbrev}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item onhover">
                <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards') | number : '1.2-5'}}</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards').abbrev}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                    class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item">Aug.-Oct. 2019</div>
              <!-- <div class="item">TODO (250k,500k,..)</div> -->
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary" *ngIf="kpi.isLoaded('dashboard')">
        <p class="title is-size-3">Wealth</p>
        <p class="subtitle is-size-4">Current wealth of the CPC Ecosystem</p>
        <div class="content">
          Industry|Team|Community Nodes: TODO<br>
          Prices: TODO ETH/BTC/USD<br>
          Exchanges: TODO A/B/C<br>
          Balance Growth RNodes: TODO X%<br>
          Addresses: TODO 124 (growth X% / day)
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-primary">
      <div class="content">
        <p class="title is-size-3">Watch Address</p>
        <p class="subtitle is-size-4" *ngIf="user_rnode_addr" >
          <span class=""><a [routerLink]="['/address',user_rnode_addr]">{{user_rnode_addr | slice:0:20}}...</a></span>
          &nbsp;
          <span (click)="resetUserRNode()" class="is-size-3 typcn typcn-backspace is-clickable"></span>
        </p>
        <div class="subtitle is-size-4" *ngIf="!user_rnode_addr" >
          <div class="field has-addons">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Your address..." id="user_rnode_addr_input">
              <span class="icon is-small is-left">
                <i class="typcn typcn-database"></i>
              </span>
            </p>
            <div class="control">
              <a class="button is-info" (click)="addUserRNode()">Register</a>
            </div>
          </div>
        </div>
        <div class="content my-rnode-loading-placeholder has-text-centered" *ngIf="user_rnode_addr && !kpi.isLoaded('myrnode')">
          <span>
            <i class="typcn typcn-chart-area-outline"></i>
          </span>
        </div>
        <div class="content" *ngIf="user_rnode_addr && kpi.isLoaded('myrnode')">
           <div class="keys-values-container is-size-5">
            <div class="keys-container">
              <div class="item">Blocks sealed</div>
              <div class="item">Impeached</div>
              <div class="item">Total Rewards</div>
              <div class="item">ROI</div>
              <div class="item">RPT</div>
              <div class="item">Balance</div>
              <!-- <div class="item">Proposer</div> -->
              <div class="item">Type of RNode</div>
            </div>
            <div class="values-container is-size-5">
              <div class="item onhover">
                <span class="onhover-hide">
                  <span class="number-mono">{{kpi.data('myrnode','last_rewards','total_mined','dashboard.myrnode')}}</span> / {{kpi.selectedOption('myrnode','last_rewards', 'total_mined', 'dashboard.myrnode').full}}
                </span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('myrnode','last_rewards')"
                    class="button is-small {{kpi.unitSelected('myrnode','last_rewards', 'total_mined', 'dashboard.myrnode') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('myrnode','last_rewards', 'total_mined', 'dashboard.myrnode', option.unit)">{{option.abbrev}}</a>
                </div> 
              </div>
              <div class="item onhover">
                <span class="onhover-hide">
                  <span class="number-mono">{{kpi.data('myrnode','last_blocks','impeached','dashboard.myrnode')}}</span> / {{kpi.selectedOption('myrnode','last_blocks', 'impeached', 'dashboard.myrnode').full}}
                </span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('myrnode','last_blocks')"
                    class="button is-small {{kpi.unitSelected('myrnode','last_blocks', 'impeached', 'dashboard.myrnode') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('myrnode','last_blocks', 'impeached', 'dashboard.myrnode', option.unit)">{{option.abbrev}}</a>
                </div> 
              </div>
              <div class="item onhover">
                <span class="onhover-hide">
                  <span class="number-mono">{{kpi.data('myrnode','last_rewards','total_rewards','dashboard.myrnode') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('myrnode','last_rewards', 'total_rewards', 'dashboard.myrnode').abbrev}}
                </span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('myrnode','last_rewards')"
                    class="button is-small {{kpi.unitSelected('myrnode','last_rewards', 'total_rewards', 'dashboard.myrnode') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('myrnode','last_rewards', 'total_rewards', 'dashboard.myrnode', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item onhover">
                 <span class="onhover-hide">
                    <span class="number-mono">{{kpi.data('myrnode','last_rewards','total_roi','dashboard.myrnode') | number : '1.2-2'}}%</span> / {{kpi.selectedOption('myrnode','last_rewards', 'total_roi', 'dashboard.myrnode').abbrev}} (rank ?)
                  </span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpi.options('myrnode','last_rewards')"
                    class="button is-small {{kpi.unitSelected('myrnode','last_rewards', 'total_roi', 'dashboard.myrnode') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpi.selectUnit('myrnode','last_rewards', 'total_roi', 'dashboard.myrnode', option.unit)">{{option.abbrev}}</a>
                </div> 
              </div>
              <div class="item">
                <span class="number-mono">{{kpi.datasets.myrnode.data.last_rpt.rpt}}</span> (rank {{kpi.datasets.myrnode.data.last_rpt.rank}} of {{kpi.datasets.dashboard.data.last_rnodes.rnodes.length}})
              </div>
              <div class="item">
                <span class="number-mono">{{kpi.datasets.myrnode.data.last_balance | number : '1.2-2'}} ({{kpi.datasets.myrnode.data.last_balance_rank.pos}}/{{kpi.datasets.myrnode.data.last_balance_rank.of}})</span>
              </div>
<!--               <div class="item">
                TODO
              </div> -->
              <div class="item">
                CPC-Team
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
</div>
</section>


<section class="section transactions-graph">
<div class="container">
  <app-trx-graph></app-trx-graph>
</div>
</section>


<section class="section blocks-squared">
<div class="container">
  <app-blocks-squared></app-blocks-squared>
</div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      Current CPC node version: <a href="{{latestRelease.html_url}}">{{latestRelease.name}}</a><br>
      <i>Next version scheduled for 12/12/2030</i><br>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
  <app-trx-streamgraph></app-trx-streamgraph>
</div>
</section>

<section class="section">
<div class="container">
	INDUSTRY NODES (TRAFFIC OVERVIEW)
</div>
</section>

<!-- 
<pre>
	Views:
		Blocks: visualized as square-block, per day, each block red/green color (mined/impeached), count trx, count trx volume
		Dashboard: blocks line, each new block constructed visually by the line of the square

	Overall stats:
		ROI

	ROI calculator:
		give amount CPC (Eoc, Rnode)

	RNode centered:
		block X
		balance X
		is Rnode
		is Proposer
		blocks sealed
		timeframe: within last X hours, X days, X weeks, X months, X years - now | date/time
		ROI
		manual add price for harward (by hour/month)
		impeached blocks, amount, when
		reputation over time

	RNodes overview:
		addr
		balance during time period
		blocks sealed
		ROI based on balance during time period
		timeframe: within last X hours, X days, X weeks, X months, X years - now | date/time

	Reputation:
		averages

	Transactions:
		stats by count txs, volume cps

	Addresses:
		growth
		icon by hash
		if rnode: reputation, promoter

	Live:
		Blocks
		Transactions


</pre> -->