.section.top {
	min-height: 60px;
}

.section.main {
	min-height: 620px;
}

.keys-values-container {
	width: 100%;
	display: flex;
	//border: 1px solid red;

	.keys-container {
		width: 45%;
		padding: 0 15px 0 0;
		text-align: right;
		border-right: 1px solid white;

		.item {
			height: 27px;
			margin: 7px 0;
			//border: 1px solid blue;
		}
	}
	.values-container {
		width: 55%;
		padding: 0 0 0 15px;

		.item {
			overflow: visible;
			height: 27px;
			margin: 7px 0;
			//border: 1px solid green;
		}
	}
}

.onhover {
	.onhover-show {
		display: none;
		animation-name: hide;
		animation-duration: 0.75s;
	}
	.onhover-hide {
		display: initial;

	}

	&:hover {
		.onhover-show {display: initial;}
		.onhover-hide {display: none;}
	}

	@keyframes hide {
		from {opacity: 0;}
		to {opacity: 1;}
	}
}

.my-rnode-loading-placeholder {
	margin-top: 150px;
	.typcn {
		font-size: 120px;
		animation: blink normal 1.15s infinite ease-in-out;
	}
}

@keyframes blink {0%{opacity:1;} 50%{opacity:0.45;} 100%{opacity:1;}}