
<br>
<section class="section">
<div class="container">
  <div class="columns is-size-2-mobile is-size-2-desktop">
    <div class="column has-text-centered has-text-weight-light">{{kpiService.datasets.dashboard.data.last_rnodes.rnodes.length}} RNodes</div>
    <div class="column has-text-centered has-text-weight-light">{{kpiService.data('dashboard','last_rewards','total_roi_year','dashboard.top-teaser')}}% ROI / Y</div>
    <div class="column has-text-centered has-text-weight-light">{{kpiService.data('dashboard','last_transactions_sum','count','dashboard.top-teaser')}} Trx's / H</div>
    <div class="column has-text-centered">Growth X</div>
  </div>
</div>
</section>


<section class="section">
<div class="container">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title is-size-3">Health</p>
          <p class="subtitle">Networks overall health KPIs</p>
          <p class="content">
            Last Block: {{kpiService.datasets.dashboard.data.last_block.number}} ({{ago(kpiService.datasets.dashboard.data.last_block.timestamp)}})<br>
            Active RNodes: {{kpiService.datasets.dashboard.data.last_rnodes.rnodes.length}}<br>
            Transactions: {{kpiService.data('dashboard','last_transactions_sum','count','dashboard.health')}} (X)<br>
            Volume: {{kpiService.data('dashboard','last_transactions_sum','volume','dashboard.health')}} (X)<br>
            Impeached: {{kpiService.data('dashboard','last_blocks','impeached','dashboard.health')}} (X)
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title is-size-3">Rewards</p>
          <p class="subtitle">Whats the rewards running an RNode</p>
          <div class="keys-values-container is-size-5 onhover">
            <div class="keys-container">
              <div class="item">ROI RNode (avg.)</div>
              <div class="item">ROI ENode (avg.)</div>
              <div class="item">Reward / Block</div>
              <div class="item">Total Rewards</div>
              <div class="item">Lockup Season</div>
              <div class="item">Rewards / Year</div>
            </div>
            <div class="values-container is-size-5">
              <div class="item">
                <span class="onhover-hide">{{kpiService.data('dashboard','last_rewards','total_roi_year','dashboard.rewards')}}% / {{kpiService.selectedOption('dashboard','last_rewards','total_roi_year','dashboard.rewards').short}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpiService.options('dashboard','last_rewards')"
                    class="button is-small {{kpiService.unitSelected('dashboard','last_rewards', 'total_roi_year', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpiService.selectUnit('dashboard','last_rewards', 'total_roi_year', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item">X%</div>
              <div class="item"><!-- {{dashboard_data.reward_per_block}} --> CPC</div>
              <div class="item">
<!--                 <span class="onhover-hide">{{kpiData('last_rewards', 'total_rewards', 'dashboard.rewards')}} CPC / {{kpiSelectedOption('last_rewards', 'total_rewards', 'dashboard.rewards').short}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpiOptions('last_rewards')"
                    class="button is-small {{kpiUnitSelected('last_rewards', 'total_rewards', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpiSelectUnit('last_rewards', 'total_rewards', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
                </div> -->
              </div>
              <div class="item">X (July-August)</div>
              <div class="item">X CPC (250k,500k)</div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary">
        <p class="title is-size-3">Wealth</p>
        <p class="subtitle is-size-4">Current wealth of the CPC Ecosystem</p>
        <div class="content">
          Industry|Team|Community Nodes: X<br>
          Prices: ETH/BTC/USD<br>
          Exchanges: A/B/C<br>
          Balance Growth RNodes: 1.5%<br>
          Addresses: 124 (growth 1.5% / day)
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-primary">
      <div class="content">
        <p class="title is-size-3">My RNode</p>
        <p class="subtitle">{{userRNodeAddr | slice:0:20}}...</p>
        <div class="content" *ngIf="user_rnode_data">
<!--           <div class="keys-values-container is-size-5 onhover">
            <div class="keys-container">
              <div class="item">Blocks sealed</div>
            </div>
            <div class="values-container is-size-5">
              <div class="item">
                <span class="onhover-hide">{{kpiData('last_rewards', 'total_mined', 'dashboard.rewards')}} CPC / {{kpiSelectedOption('last_rewards', 'total_mined', 'dashboard.my-rnode.total_mined').short}}</span>

                <div class="buttons has-addons onhover-show">
                  <a *ngFor="let option of kpiOptions('last_rewards')"
                    class="button is-small {{kpiUnitSelected('last_rewards', 'total_mined', 'dashboard.my-rnode.total_mined') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                    [attr.data-tooltip]="option.full"
                    (click)="kpiSelectUnit('last_rewards', 'total_mined', 'dashboard.my-rnode.total_mined', option.unit)">{{option.abbrev}}</a>
                </div>
              </div>
              <div class="item">
{{user_rnode_data.last_rewards.hour.total_mined}},{{user_rnode_data.last_rewards.day.total_mined}},{{user_rnode_data.last_rewards.month.total_mined}},{{user_rnode_data.last_rewards.year.total_mined}}
              </div>
            </div>
          </div>

        	Rewards earned: {{user_rnode_data.last_rewards.hour.total_rewards}},{{user_rnode_data.last_rewards.day.total_rewards}},{{user_rnode_data.last_rewards.month.total_rewards}},{{user_rnode_data.last_rewards.year.total_rewards}}<br>
        	Impeached: {{user_rnode_data.last_blocks.hour.impeached}},{{user_rnode_data.last_blocks.day.impeached}},{{user_rnode_data.last_blocks.month.impeached}},{{user_rnode_data.last_blocks.year.impeached}}<br>
          (TODO) ROI / Year: {{user_rnode_data.last_rewards.month.total_roi_year}}% (rank)<br>
        	RPT: {{user_rnode_data.last_rpt.rpt}} (rank {{user_rnode_data.last_rpt.rank}} of {{dashboard_data.last_rnodes.rnodes.length}})<br>
        	Balance: {{user_rnode_data.last_balance}} CPC<br>
        	Proposer: TODO<br>
        	Type of RNode: {{user_rnode_data.type}}<br>
          See blocks + trxs<br> -->

        </div>
      </div>
    </article>
  </div>
</div>
</div>
</section>




<section class="section">
<div class="container">
	<app-blocks-squared></app-blocks-squared>
</div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      Current CPC node version: <a href="{{latestRelease.html_url}}">{{latestRelease.name}}</a><br>
      <i>Next version scheduled for 12/12/2030</i><br>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
	INDUSTRY NODES (TRAFFIC OVERVIEW)
</div>
</section>

<!-- 
<pre>
	Views:
		Blocks: visualized as square-block, per day, each block red/green color (mined/impeached), count trx, count trx volume
		Dashboard: blocks line, each new block constructed visually by the line of the square

	Overall stats:
		ROI

	ROI calculator:
		give amount CPC (Eoc, Rnode)

	RNode centered:
		block X
		balance X
		is Rnode
		is Proposer
		blocks sealed
		timeframe: within last X hours, X days, X weeks, X months, X years - now | date/time
		ROI
		manual add price for harward (by hour/month)
		impeached blocks, amount, when
		reputation over time

	RNodes overview:
		addr
		balance during time period
		blocks sealed
		ROI based on balance during time period
		timeframe: within last X hours, X days, X weeks, X months, X years - now | date/time

	Reputation:
		averages

	Transactions:
		stats by count txs, volume cps

	Addresses:
		growth
		icon by hash
		if rnode: reputation, promoter

	Live:
		Blocks
		Transactions


</pre> -->