

<section class="section top">
<div class="container">

  <div class="columns head">
    <div class=" column is-2 has-text-right">
      <a href="https://cpchain.io"><img src="assets/logo_only.png" class="cpc-logo"></a>
    </div>
    <div class="column is-6 titles">
      <h2 class="subtitle">rnodes.io</h2>
      <h1 class="title">CPChain Blockchain Explorer</h1>
    </div>
    <div class="column is-3 has-text-centered">
      <i class="subtext">A new<br> distributed infrastructure for<br> next generation IoT</i>
    </div>
    <div class="column is-1"></div>
  </div>

  <div class="field has-addons search">
    <p class="control has-icons-left search-input">
      <input class="input is-large app-search-input" type="text" placeholder="Tx Hash, Block Number, Address" (keyup.enter)="search()" >
      <span class="icon is-left">
        <i class="typcn typcn-zoom"></i>
      </span>
    </p>
    <div class="control">
      <a class="button is-large is-info" (click)="search()">Go</a>
    </div>
  </div>

</div>
</section>



<section class="section block-n-stats" *ngIf="kpi.datasets.dashboard.data.default">
<div class="container">
  <div class="columns">
    <div class="column is-5 blocks">
      <app-blocks-squared unit="hour"></app-blocks-squared>
    </div>
    <div class="column is-3 has-text-centered stats" *ngIf="kpi.datasets.dashboard.data">
      <div class="info title">
        <span class="typcn typcn-power"></span>
        {{kpi.datasets.dashboard.data.default.last_rnodes.rnodes.length}} RNodes Live
      </div>

      <div class="info title">
        <b>$</b>&nbsp;<a href="https://coinmarketcap.com/currencies/cpchain/" target="_blank">{{kpi.datasets.dashboard.data.default.last_price.USD.price |  number : '1.1-4'}} Price</a>
      </div>

      <app-price-graph class="graph price"></app-price-graph>
    </div>
    <div class="column is-4 has-text-centered stats">
      <div class="info title">
        <span class="typcn typcn-arrow-loop"></span>
        {{kpi.data('dashboard','last_rewards','avg_roi_year','dashboard.top-teaser')}}% ROI (avg.)
      </div>

      <div class="info title">
        <span class="typcn typcn-arrow-shuffle"></span>
        {{kpi.data('dashboard','last_transactions','count','dashboard.top-teaser')}} Trx's / {{kpi.selectedOption('dashboard','last_transactions','count','dashboard.top-teaser').full}}
      </div>

      <app-trx-graph class="graph trx"></app-trx-graph>
    </div>
    <div class="column is-1"></div>
  </div>
</div>
</section>



<section class="section main">
<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child boxed is-primary" *ngIf="kpi.isLoaded('dashboard')">
        <p class="title is-size-3">Health</p>
        <p class="subtitle">Networks overall health KPIs</p>
        <div class="keys-values-container is-size-5">
          <div class="keys-container">
            <div class="item text">Last Block</div>
            <div class="item">Active RNodes</div>
            <div class="item">Transactions</div>
            <div class="item">Trx. Volume</div>
            <div class="item">Fee (avg.)</div>
            <div class="item">Impeached</div>
          </div>
          <div class="values-container is-size-5">
            <div class="item"><a [routerLink]="['/block', lastBlockService.last_block.number]">{{lastBlockService.last_block.number}}</a></div>
            <div class="item"><span class="number-mono">{{kpi.datasets.dashboard.data.default.last_rnodes.rnodes.length}}</span></div>
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_transactions','count','dashboard.health')}}</span> / {{kpi.selectedOption('dashboard','last_transactions','count','dashboard.health').full}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_transactions')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_transactions', 'count', 'dashboard.health') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_transactions', 'count', 'dashboard.health', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_transactions','volume','dashboard.health') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_transactions','volume','dashboard.health').abbrev}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_transactions')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_transactions', 'volume', 'dashboard.health') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_transactions', 'volume', 'dashboard.health', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
            <div class="item">
              <span class=""><span class="number-mono">{{kpi.data('dashboard','last_transactions','fee_avg','dashboard.health') | number : '1.4-4'}}</span> / Trx</span>
            </div>
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_blocks','impeached','dashboard.health')}}</span> / {{kpi.selectedOption('dashboard','last_blocks','impeached','dashboard.health').full}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_blocks')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_blocks', 'impeached', 'dashboard.health') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_blocks', 'impeached', 'dashboard.health', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child boxed is-primary" *ngIf="kpi.isLoaded('dashboard')">
        <p class="title is-size-3">Rewards</p>
        <p class="subtitle">Whats the rewards running an RNode</p>
        <div class="keys-values-container is-size-5 ">
          <div class="keys-container">
            <div class="item">ROI (avg.)</div>
            <!-- <div class="item">ROI ENode (avg.)</div> -->
            <div class="item">Reward (fixed)</div>
            <div class="item">Total Rewards</div>
            <div class="item">Rewards (fixed)</div>
            <div class="item">Rewards (fee)</div>
            <div class="item">Fee/Fixed Ratio</div>
            <!-- <div class="item">Rewards / Year</div> -->
          </div>
          <div class="values-container is-size-5">
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards','avg_roi_year','dashboard.rewards')}}%</span> / {{kpi.selectedOption('dashboard','last_rewards','avg_roi_year','dashboard.rewards').full}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'avg_roi_year', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_rewards', 'avg_roi_year', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
            <!-- <div class="item">TODO</div> -->
            <div class="item"><span class="number-mono">{{kpi.datasets.dashboard.data.default.reward_per_block}} CPC</span> / Block</div>
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards').abbrev}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_rewards', 'total_rewards', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards').abbrev}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_rewards', 'total_rewards_from_fixed', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards') | number : '1.2-2'}} CPC</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards').abbrev}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_rewards', 'total_rewards_from_fee', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
            <div class="item onhover">
              <span class="onhover-hide"><span class="number-mono">{{kpi.data('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards') | number : '1.2-5'}}</span> / {{kpi.selectedOption('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards').abbrev}}</span>

              <div class="buttons has-addons onhover-show">
                <a *ngFor="let option of kpi.options('dashboard','last_rewards')"
                  class="button is-small {{kpi.unitSelected('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards') == option.unit ? 'is-info is-selected' : ''}} tooltip"
                  [attr.data-tooltip]="option.full"
                  (click)="kpi.selectUnit('dashboard','last_rewards', 'total_reward_fixed_fee_ratio', 'dashboard.rewards', option.unit)">{{option.abbrev}}</a>
              </div>
            </div>
            <!-- <div class="item">TODO (250k,500k,..)</div> -->
          </div>
        </div>
      </article>
    </div>
    <div class="tile is-parent watch">
      <article class="tile is-child boxed is-primary"><app-my-rnode index=0></app-my-rnode></article>
    </div>
  </div>
  <div class="tile is-ancestor" *ngIf="user_rnodes.length >= 1">
    <div class="tile is-parent is-4">
      <article class="tile is-child boxed is-primary"><app-my-rnode index="1"></app-my-rnode></article>
    </div>
    <div class="tile is-parent is-4" *ngIf="user_rnodes.length >= 2">
      <article class="tile is-child boxed is-primary"><app-my-rnode index="2"></app-my-rnode></article>
    </div>
    <div class="tile is-parent is-4" *ngIf="user_rnodes.length >= 3">
      <article class="tile is-child boxed is-primary"><app-my-rnode index="3"></app-my-rnode></article>
    </div>
  </div>
</div>
</section>


<app-footer></app-footer>


<!-- 
<pre>
	Views:
		Blocks: visualized as square-block, per day, each block red/green color (mined/impeached), count trx, count trx volume
		Dashboard: blocks line, each new block constructed visually by the line of the square

	Overall stats:
		ROI

	ROI calculator:
		give amount CPC (Eoc, Rnode)

	RNode centered:
		block X
		balance X
		is Rnode
		is Proposer
		blocks sealed
		timeframe: within last X hours, X days, X weeks, X months, X years - now | date/time
		ROI
		manual add price for harward (by hour/month)
		impeached blocks, amount, when
		reputation over time

	RNodes overview:
		addr
		balance during time period
		blocks sealed
		ROI based on balance during time period
		timeframe: within last X hours, X days, X weeks, X months, X years - now | date/time

	Reputation:
		averages

	Transactions:
		stats by count txs, volume cps

	Addresses:
		growth
		icon by hash
		if rnode: reputation, promoter

	Live:
		Blocks
		Transactions


</pre> -->