/*
@import "typicons.font/src/font/typicons.css";


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config($font-family: '"Open Sans"');
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ui-primary: mat-palette($mat-indigo);
$ui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ui-theme: mat-light-theme($ui-primary, $ui-accent, $ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ui-theme);
*/





@charset "utf-8";

//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";


// BRAND COLORS
// COLOR PALLETE: https://coolors.co/4497cc-8bcef1-d7f0f5-dee2e3-316e92
$celestial-blue: #4497CC;
$baby-blue: #8bcef1;
$azureish-white: #d7f0f5;
$azureish-white-light: #CAE8F8;
$alice-blue: #EEF5FA;
$platinum: #dee2e3;
$teal-blue: #316e92;


// FONT FAMILY
// Import Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400');
// @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$family-sans-serif: "Open Sans", sans-serif;
$family-serif: "Merriweather", serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;
$family-mono: "Nanum Gothic Coding";
$body-weight: $weight-light;
$title-weight: $weight-light;
$subtitle-weight: $weight-medium;




// ASSIGN COLORS
$primary: $celestial-blue;
$primary-invert: white;

$secondary: $teal-blue;
$secondary-invert: white;

$link: $teal-blue;
$link-invert: white;

$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $alice-blue;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// OWN CLASSES
.content {line-height: 1.65em;}
.number-mono {font-family: $family-mono; font-weight: 400}
.is-clickable {cursor: pointer;}

@import 'bulma';


// required for opacity page transition
router-outlet.is-root ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}


.border-box {
	box-shadow: 0 0 6px 1px #1f7bbd20;
    background-color: white;
}

td {border:0;}


.element {
    margin: 35px 0;

    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}
