<section class="section">
<div class="container">

	<h3 class="subtitle is-size-4">Trx {{txHash}} <i ngxClipboard [cbContent]="txHash" class="typcn typcn-clipboard is-clickable"></i></h3>

	<table class="table table is-hoverable table is-fullwidth is-striped">
		<tbody>
			<tr><td>Trx Hash</td><td>{{txHash}}</td></tr>
			<tr><td>Timestamp</td><td>{{trx.__ts | dateAgo}} | {{trx.__ts | date: 'long' : 'UTC' }}</td></tr>
			<tr><td>Block Hash</td><td>{{trx.blockHash}}</td></tr>
			<tr><td>Block Number</td><td><a [routerLink]="['/block', trx.blockNumber]">{{trx.blockNumber}}</a></td></tr>
			<tr><td>From</td><td><a [routerLink]="['/address', trx.from]">{{trx.from}}</a>&nbsp;<i ngxClipboard [cbContent]="trx.from" class="typcn typcn-clipboard is-clickable"></i></td></tr>
			<tr><td>To</td><td><a [routerLink]="['/address', trx.to]">{{trx.to}}</a>&nbsp;<i ngxClipboard [cbContent]="trx.to" class="typcn typcn-clipboard is-clickable"></i></td></tr>
			<tr><td>Value</td><td>{{trx.value | convertCpc}}</td></tr>
			<tr><td>gas</td><td>{{trx.gas}}</td></tr>
			<tr><td>gasPrice</td><td>{{trx.gasPrice}}</td></tr>
			<tr><td>Type</td><td>{{trx.type}}</td></tr>
			<tr><td>Data</td><td>{{trx.input}}</td></tr>
		</tbody>
	</table>

</div>
</section>

<app-footer></app-footer>