<section class="section">
<div class="container">

	<h3 class="title">
		Address #{{addr}}
	</h3>

	<table class="table table is-hoverable table is-fullwidth is-striped">
		<tbody>
			<tr><td>Address</td><td>
				{{addr}}
			</td></tr>
			<tr><td>Balance</td><td>{{info.latest_balance}} CPC</td></tr>
			<tr><td>Type</td><td>TODO</td></tr>
		</tbody>
	</table>

	<h3 class="title">Transactions</h3>

	<table class="table table is-hoverable table is-fullwidth is-striped" *ngIf="transactions.length">
		<thead>
			<th>TxHash</th>
			<th>When</th>
			<th>From</th>
			<th>To</th>
			<th>Value</th>
			<th>TxFee</th>
		</thead>
		<tbody>
			<tr *ngFor="let trx of transactions">
				<td><a [routerLink]="['/trx', trx.hash]">{{trx.hash | slice:0:15}}...</a></td>
				<td>{{trx.__ts | dateAgo}} | {{trx.__ts | date: 'full' : 'UTC' }}</td>
				<td><a [routerLink]="['/address', trx.from]">{{trx.from | slice:0:15}}...</a></td>
				<td><a [routerLink]="['/address', trx.to]">{{trx.to | slice:0:15}}...</a></td>
				<td>{{trx.value | convertCpc }} CPC</td>
				<td>TODO</td>
			</tr>
		</tbody>
	</table>

</div>
</section>