<section class="section">
<div class="container">

	<h3 class="title">
		Address #{{addr}}
	</h3>

	<div *ngIf="!invalidAddress">

		<table class="table table is-hoverable table is-fullwidth is-striped">
			<tbody>
				<tr><td>Address</td><td>
					{{addr}}
				</td></tr>
				<tr><td>Balance</td><td>{{info.balance}} CPC</td></tr>
				<tr><td>Rank</td><td>TODO</td></tr>
				<tr><td>Type</td><td>TODO</td></tr>
			</tbody>
		</table>

		<h3 class="title">
			Transactions
			<span *ngIf="!loadingTrx && transactions">({{transactions.length}})</span>
			<span *ngIf="loadingTrx" class="">(Loading)</span>
		</h3>

		<table class="table table is-hoverable table is-fullwidth is-striped" *ngIf="transactions.length">
			<thead>
				<th>TxHash</th>
				<th>When</th>
				<th>From</th>
				<th></th>
				<th>To</th>
				<th>Value</th>
				<th>TxFee</th>
			</thead>
			<tbody>
				<ng-container *ngFor="let trx of transactions; let i = index">
					<tr *ngIf="i < trx_limit">
						<td><a [routerLink]="['/trx', trx.hash]">{{trx.hash | slice:0:15}}...</a></td>
						<td>{{trx.__ts | dateAgo}} | {{trx.__ts | date: 'full' : 'UTC' }}</td>
						<td><a [routerLink]="['/address', trx.from]">{{trx.from | slice:0:15}}...</a></td>
						<td><span class="in-out tag is-normal is-{{ trx.from == addr ? 'primary' : 'warning' }}">{{ trx.from == addr ? 'OUT' : 'IN' }}</span></td>
						<td><a [routerLink]="['/address', trx.to]">{{trx.to | slice:0:15}}...</a></td>
						<td>{{trx.value | convertCpc }} CPC</td>
						<td>TODO</td>
					</tr>
				</ng-container>
			</tbody>
		</table>

		<div class="container has-text-centered">
			<a class="button is-small" (click)="showMore()"><i class="typcn typcn-arrow-sorted-down"></i> Show more</a>
		</div>

	</div>

	<div class="" *ngIf="invalidAddress">
		<i class="typcn typcn-warning"></i> Invalid Address
	</div>

</div>
</section>