<footer class="footer" *ngIf="1">
  <div class="container">
  	<div class="columns">
  		<div class="column site-links">
  			<h3 class="title" i18n="footer-page|link name">Sitemap</h3>
  			<ul>
  				<li><a [routerLink]="['/']" i18n="footer-page|link name">Dashboard</a></li>
  				<li><a [routerLink]="['/blocks']" i18n="footer-page|link name">Blocks</a></li>
  				<!-- <li><a [routerLink]="['/stats']">Stats</a></li> -->
  				<li><a [routerLink]="['/rich-list']" i18n="footer-page|link name">Balances</a></li>
  				<li><a [routerLink]="['/rnodes']" i18n="footer-page|link name">Rnodes</a></li>
  				<!-- <li><a [routerLink]="['/system-status']">System Status</a></li> -->
  			</ul>
  		</div>
  		<div class="column external-links">
  			<h3 class="title" i18n="footer-page|headline">Links</h3>
  			<ul>
  				<li><a href="https://cpchain.io" i18n="footer-page|link name">cpchain.io</a></li>
  				<li><a href="https://github.com/CPChain/chain" i18n="footer-page|link name">Github</a></li>
  				<li><a href="https://twitter.com/cpchain_io" i18n="footer-page|link name">Twitter</a></li>
  				<li><a href="https://docs.cpchain.io" i18n="footer-page|link name">Docs</a></li>
          <li><a href="https://github.com/CPChain/chain/issues" i18n="footer-page|link name">Issues</a></li>
          <li><a href="https://cpchain.io/rnode/" i18n="footer-page|link name">RNode Introduction</a></li>
          <li><a href="https://cpchain.io/download/CPChain_Whitepaper_English.pdf" i18n="footer-page|link name">Whitepaper 2.0</a></li>
  			</ul>
  		</div>
  		<div class="column lang">
  			<h3 class="title">RNode</h3>
  			<ul>
  				<li><a href="{{latestRelease.html_url}}" target="blank">{{latestRelease.name}}</a></li>
  				<!-- <li><a [routerLink]="['/']">Instructions</a></li> -->
  			</ul>
  		</div>
  		<div class="column licence">
  			<h3 class="title" i18n="footer-page|copyright">Copyright</h3>
			<p><a href="//rnodes.io">rnodes.io</a> is the <i>un</i>released <a href="https://cpchain.io">CPChain</a> blockchain explorer.</p>
      <br>
      <p><span i18n="footer-page|copyright description followed by 'Markus Siebeneicher'">Designed and realized by</span>&nbsp;<a href="https://badass-consulting.eu">Markus Siebeneicher</a></p>
      <br>
      <p>This service is currently watched by <span class="number-mono">{{online_cnt}}</span> users.</p>
  		</div>
  		<div class="column lang">
  			<h3 class="title" i18n="footer-page|headline for changing the language">Language</h3>
  			<p>
	  			<span i18n="footer-page|select english language">English</span> | <span i18n="footer-page|select chinese language">Chinese</span>
	  		</p>
  		</div>
  	</div>
  </div>
</footer>