
$color-impeached: red;
$color-validated: green;
$color-unsynced: orange;
$color-future: lightgrey;
$color-validated-empty: rgba(18, 159, 67, 0.4);

// COLOR CODING

.block {
	// future
	background-color: $color-future;
	//border: 1px solid $color-future;

	&.linebreak {
		flex-basis: 100%;
		height: 0;
	}
	&.synced {
		background-color: $color-validated-empty !important;
		//border: 1px solid $color-validated-empty !important;

		&.has-trx {
			background-color: $color-validated !important;
		}
	}
	&.sync-should {
		background-color: $color-unsynced;
		//border: 1px solid $color-unsynced;
	}
	&.impeached.impeached {
		background-color: $color-impeached !important;
		//border: 1px solid $color-impeached;
	}
}



// UNIT HOUR

.main-container.unit-hour {
	.blocks {
		display: flex;
		flex-flow: row wrap;

		.hour-container {
			width: 100%;
			display: flex;
			flex-flow: row wrap;

			.block {
				margin: 2px;
				width: 13px;
				height: 13px;
				border-radius:2px;

				&.impeached.impeached {
					width: 30px;
				}
			}
		}
	}
}





// UNIT DAY

.main-container.unit-day {
	min-height: 550px;

	.blocks-by-hour {
		display: flex;
		flex-flow: row wrap;

		.hour {
			flex-grow: 1;
			flex-basis: 50px;
			max-width: 4%;

			.title {

			}

			.hour-container {
				width: 100%;
				display: flex;
				flex-flow: row wrap;

				.block {
					margin: 1px;
					width: 6px;
					height: 6px;

					&.impeached.impeached {
						width: 14px;
					}
				}
			}
		}
	}
}


.legend {
	.column {
		.colorbox {
			position: relative;
			display: inline-block;
			width: 12px;
			height: 12px;

			&.validated {
				background-color: $color-validated;
			}
			&.validated-empty {
				background-color: $color-validated-empty;
			}
			&.impeached {
				background-color: $color-impeached;
			}
			&.unsynced {
				background-color: $color-unsynced;
			}
			&.future {
				background-color: $color-future;
			}
		}
		.desc {
			position: relative;
			margin: 0 0 0 10px;
			display: inline-block;
		}
	}
}

.hover-tooltip {
	position: absolute;
	background-color: white;
	padding: 5px 10px;
	border-radius: 2px;

	&.hide {
		visibility: hidden;
	}
}

.initial-loading-placeholder {
	.typcn {
		font-size: 240px;
		animation: blink normal 1.15s infinite ease-in-out;
	}
}

@keyframes blink {0%{opacity:1;} 50%{opacity:0.45;} 100%{opacity:1;}}