<div class="element is-loading" *ngIf="loading"></div>

<ng-container *ngIf="loaded">

	<div class="container border-box">

		<div class="filters columns">
			<div class="column is-7">
				<span class="label" i18n="address-blocks|filter title">Filter blocks</span>
				<span class="field has-addons">
				  <p class="control">
				    <a class="button" [class.is-dark]="filter_select == 'all'" (click)="setFilter('all')">
				      <span i18n="address-blocks|filter setting">All</span><span *ngIf="filter_select == 'all'">&nbsp;({{filtered.length}})</span>
				    </a>
				  </p>
				  <p class="control">
				    <a class="button" [class.is-success]="filter_select == 'sealed'" (click)="setFilter('sealed')">
				      <span i18n="address-blocks|filter setting">Sealed</span><span *ngIf="filter_select == 'sealed'">&nbsp;({{filtered.length}})</span>
				    </a>
				  </p>
				  <p class="control">
				    <a class="button" [class.is-danger]="filter_select == 'impeached'" (click)="setFilter('impeached')">
				      <span i18n="address-blocks|filter setting">Impeached</span><span *ngIf="filter_select == 'impeached'">&nbsp;({{filtered.length}})</span>
				    </a>
				  </p>
				</span>
			</div>
		</div>

		<table class="table is-hoverable table is-fullwidth is-striped" *ngIf="data.length">
			<thead>
				<th>#</th>
				<th width="1%" i18n="address-blocks|table header">Block</th>
				<th width="1%"></th>
				<th i18n="address-blocks|table header">When</th>
				<th i18n="address-blocks|table header">Trxs</th>
				<th i18n="address-blocks|table header">Gas Used</th>
				<th i18n="address-blocks|table header">Gas Limit</th>
				<th i18n="address-blocks|table header">Gas Price</th>
				<th i18n="address-blocks|table header">Rewards</th>
			</thead>
			<tbody>
				<ng-container *ngFor="let blk of filtered; let i = index">
					<tr *ngIf="i < limit">
						<td>#{{data.length - i}}</td>
						<td><a [routerLink]="['/block', blk.number]">{{blk.number}}</a></td>
						<td>
							<span *ngIf="!blk.__impeached" class="tag is-success"><i class="typcn typcn-tick"></i>&nbsp;<span i18n="address-blocks|block state">Success</span></span>
							<span *ngIf="blk.__impeached" class="tag is-danger"><i class="typcn typcn-cancel"></i>&nbsp;<span i18n="address-blocks|block state">Failed</span></span>
						</td>
						<td>{{blk.timestamp | dateAgo}} | {{blk.timestamp | date: 'long' : 'UTC' }}</td>
						<td><a [routerLink]="['/block', blk.number]">{{blk.transactions.length}}</a></td>
						<td>{{blk.gasUsed}}</td>
						<td>{{blk.gasLimit}}</td>
						<td>{{blk.__gasPrice}}</td>
						<td>{{blk.__reward}}</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>

	<div class="container has-text-centered" *ngIf="data.length > limit">
		<a class="button" (click)="showMore()"><i class="typcn typcn-arrow-sorted-down"></i> <span i18n="address-blocks|table show more">Show more</span> ({{step}}+)</a>
		<a class="button" (click)="showAll()"><i class="typcn typcn-arrow-sorted-down"></i> <span i18n="address-blocks|table show all">Show all</span></a>
	</div>
</ng-container>