<section class="section">
<div class="container">

	<h3 class="title">
		Block #{{number}}
		&nbsp;
		<a class="button" [routerLink]="['/block',number-1]"><i class="typcn typcn-chevron-left"></i></a>
		<a class="button" [routerLink]="['/block',number+1]"><i class="typcn typcn-chevron-right"></i></a>
	</h3>

	<table class="table table is-hoverable table is-fullwidth is-striped">
		<tbody>
			<tr><td>Height</td><td>{{number}}</td></tr>
			<tr><td>Timestamp</td><td>{{ago(block.timestamp)}} | {{block.timestamp | date: 'long' : 'UTC' }}</td></tr>
			<tr><td>Transactions</td><td>
				{{block.transactions ? block.transactions.length : '-'}} trx's
			</td></tr>
			<tr><td>Proposer</td><td><a [routerLink]="['/address', block.miner]">{{block.miner}}</a></td></tr>
			<tr><td>Reward</td><td>{{block.__reward}} CPC ({{block.__fixed_reward}} fixed + {{block.__fee}} fee)</td></tr>
			<tr><td>Gas Used</td><td>{{block.gasUsed}}</td></tr>
			<tr><td>Gas Limit</td><td>{{block.gasLimit}}</td></tr>
			<tr><td>Size</td><td>{{block.size}}</td></tr>
			<tr><td>Hash</td><td>{{block.hash}}</td></tr>
			<tr><td>Parent Hash</td><td>{{block.parentHash}}</td></tr>
		</tbody>
	</table>

	<h2 class="title">
		Transactions
		<span *ngIf="!loadingTrx && transactions">({{transactions.length}})</span>
		<span *ngIf="loadingTrx" class="">(Loading)</span>
	</h2>

	<table class="table table is-hoverable table is-fullwidth is-striped" *ngIf="transactions.length">
		<thead>
			<th>TxHash</th>
			<th>From</th>
			<th>To</th>
			<th>Value</th>
			<th>TxFee</th>
		</thead>
		<tbody>
			<tr *ngFor="let trx of transactions">
				<td><a [routerLink]="['/trx', trx.hash]">{{trx.hash | slice:0:15}}...</a></td>
				<td><a [routerLink]="['/address', trx.from]">{{trx.from | slice:0:15}}...</a></td>
				<td><a [routerLink]="['/address', trx.to]">{{trx.to | slice:0:15}}...</a></td>
				<td>{{trx.value | convertCpc }} CPC</td>
				<td>TODO</td>
			</tr>
		</tbody>
	</table>

</div>
</section>