<!-- <img src="assets/logo_only.svg" class="main-bg"> -->

<nav class="navbar main is-secondary" [class.full-menu]="fullMenu(outlet)" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/" routerLinkActive="active">
      <img src="assets/logo_only.png" class="cpc-logo">
      RNodes.io
    </a>

    <a [routerLink]="['/block', lastBlockService.last_block.number]" class="navbar-item number-mono">{{lastBlockService.last_block.number}}</a>

    <a class="navbar-item" [routerLink]="['/rich-list']">Rich List</a>
    <a class="navbar-item" [routerLink]="['/blocks']">Blocks</a>
    <a class="navbar-item" [routerLink]="['/rnodes']">RNodes</a>
    <a class="navbar-item" [routerLink]="['/stats']">Stats</a>
    <!-- <a class="navbar-item">Watch List</a> -->

<!--     <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> -->

    <span class="navbar-item search-bar">
      <div class="field has-addons">
        <p class="control has-icons-left">
          <input class="input app-search-input" type="text" placeholder="Txn, Block, Address" (keyup.enter)="search()" >
          <span class="icon is-small is-left">
            <i class="typcn typcn-zoom"></i>
          </span>
        </p>
        <div class="control">
          <a class="button is-info" (click)="search()">Go</a>
        </div>
      </div>
    </span>
  </div>
</nav>

<div [@fadeAnimation]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>