tr.watching-address {
	background-color: orange !important;
	color: white !important;

	a {
		color: white !important;		
	}

	
	.watch-btn {
		color: white;
	}
}

.watch-btn {
	opacity: 0;
}

tr:hover .watch-btn {
	opacity: 1;	
}